.buttonCliente {
    background-color: rgb(50, 191, 251);
    color: white;
    font-size: 30px;
    padding: 1.5%;
    border-color: rgb(50, 191, 251);
    
}
.blockCliente {
    background-color: rgb(50, 191, 251);
}

img {
    width: 100vw;
    height: 100vh;
}

.objetos {
    margin-top: 15%;
    font-size: 30px;
}

.label{
    color: white;
}